<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Touch Glass</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/event_calendar">Event Calendar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/bac">BAC Calculator</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <h2 class="mt-5">Login</h2>

      <!-- Flash Messages -->
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <div class="alert-container">
        {% for category, message in messages %}
        <div
          class="alert alert-{{ category }} alert-dismissible fade show"
          role="alert"
        >
          {{ message }}
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
      </div>
      {% endif %} {% endwith %}

      <form method="POST" action="{{ url_for('views.login') }}">
        <div class="form-group">
          <label for="identifier">Username or Email:</label>
          <input
            type="text"
            class="form-control"
            id="identifier"
            name="identifier"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <p class="mt-3">
        Don't have an account?
        <a href="{{ url_for('views.register') }}">Register</a>
      </p>
    </div>

    <!-- Bootstrap JS, Popper.js, and jQuery for alert dismissing functionality -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
      // Auto-dismiss the flash message after 3 seconds
      $(document).ready(function () {
        setTimeout(function () {
          $(".alert").alert("close");
        }, 3000); // Change 3000 to the time you want (in milliseconds)
      });
    </script>
  </body>
</html>
