<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mettre à jour l'événement</title>
        <link
      rel="stylesheet"
      href="{{ url_for('static', filename='add_event.css') }}"
    />
  </head>
  <body>
     <style>
      label {
        display: inline-flex;
      }
    </style>
    <h1>Mettre à jour l'événement</h1>
      <form action="{{ url_for('views.update_event', event_id=event.event_id) }}" method="POST">

      
      <label for="titre">Titre :</label>
      <input type="text" id="titre" name="titre" value="{{ event.title }}" required /><br /><br />

      <label for="description">Description :</label>
      <input type="text" id="description" name="description" value="{{ event.description }}" required /><br /><br />

      <label for="rules">Règles :</label>
      <textarea id="rules" name="rules">{{ event.rules }}</textarea><br />

      <label for="localisation">Localisation :</label>
      <input type="text" id="localisation" name="localisation" value="{{ event.localisation }}" required /><br />

      <label for="participation">Groupe d'âge :</label><br />
      <label for="age18">18+
      <input type="radio" id="age18" name="participation" value="18+" 
        {% if event.age_requirement == "18+" %}checked{% endif %} required />
      </label>
 <label for="age15">15+
      <input type="radio" id="age15" name="participation" value="15+" 
        {% if event.age_requirement == "15+" %}checked{% endif %} required />
     </label>
<label for="age10">10+
      <input type="radio" id="age10" name="participation" value="10+" 
        {% if event.age_requirement == "10+" %}checked{% endif %} required />
      
</label>
</br>
      <label for="date_event">Date et heure de l'événement :</label>
      <input type="datetime-local" id="date_event" name="date_event" 
        value="{{ event.date_event.strftime('%Y-%m-%dT%H:%M') }}" required /><br />

      <label for="average_price">Prix moyen :</label>
      <input type="text" id="average_price" name="average_price" value="{{ event.average_price }}" /><br />

      <label for="student_advantages">Avantages étudiants :</label>
      <textarea id="student_advantages" name="student_advantages">{{ event.student_advantages }}</textarea><br />

      <label for="event_type">Type d'événement :</label>
      <input type="text" id="event_type" name="event_type" value="{{ event.event_type }}" required /><br />

      <input type="submit" value="Mettre à jour l'événement" />
    </form>

    <a href="{{ url_for('views.event_calendar') }}">Retour à la liste des événements</a>
  </body>
</html>

